<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <connectionStrings>
    <!--
    <add name="Test" connectionString="Data Source=.;Initial Catalog=OmidPayamak;Integrated Security=True" providerName="System.Data.SqlClient" />    
    <add name="TrainingConnectionString"  connectionString = "Data Source=LAPTOP-AV3R6EJN\\SQLEXPRESS;Initial Catalog=BetByRate;UID=BetByRateAdmin;password=BetByRateAdmin;" providerName="Microsoft.SqlClient" />"
		<add name="TrainingConnectionString" connectionString = "Data Source=frcivttas30;Initial Catalog=Training;UID=TrainingAdmin;password=TrainingAdmin;" providerName="Microsoft.SqlClient" />"
    -->

  </connectionStrings>

</configuration>